.left-section {

}

.philosophy-text {
    font-family: 'NotoSans';
    color: #FFFFFF;
    max-width: 354px;
    margin-top: 40px;

    h3{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}

.hero-image {
    img {
        max-width: 100%;
    }
}