.heading-container {

    h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
    }

    p {
        color: #889BAA;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}